//fonts
$font-family-base: 'Arima Madurai', cursive;
$font-family-title: 'Berkshire Swash', cursive;

//colores
$color-white: #fff;
$color-black: #050505;
$color-contrast: #004855;
$color-hover:#f63800;





