/*.btn {

}*/

.btn--principal {
    background-color:$color-contrast;

    &:hover {
        background-color:$color-hover;
    }
}

.btn--secundary {
    background-color:$color-contrast;

    &:hover {
        background-color:$color-hover;
    }
}

.btn-start {
    width: 30%;
    background-color: $color-orange;
    color: #fff;
    text-align: center;
    margin-left: 35%;
    margin-top: 3%;
    padding: 3%;
    font-size: 30px;
    border: none;
    
}